/*
Http Gateway

Contains interface documents such as accounts, assets, transactions, etc.

API version: v1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// Class00StarkExPublicApiAPIService Class00StarkExPublicApiAPI service
type Class00StarkExPublicApiAPIService service

type ApiReceiveAlternativeTxRequest struct {
	ctx context.Context
	ApiService *Class00StarkExPublicApiAPIService
	authorization *string
	notifyTxRejectParam *NotifyTxRejectParam
}

func (r ApiReceiveAlternativeTxRequest) Authorization(authorization string) ApiReceiveAlternativeTxRequest {
	r.authorization = &authorization
	return r
}

func (r ApiReceiveAlternativeTxRequest) NotifyTxRejectParam(notifyTxRejectParam NotifyTxRejectParam) ApiReceiveAlternativeTxRequest {
	r.notifyTxRejectParam = &notifyTxRejectParam
	return r
}

func (r ApiReceiveAlternativeTxRequest) Execute() (*NotifyTxRejectResult, *http.Response, error) {
	return r.ApiService.ReceiveAlternativeTxExecute(r)
}

/*
ReceiveAlternativeTx 通知交易拒绝

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReceiveAlternativeTxRequest
*/
func (a *Class00StarkExPublicApiAPIService) ReceiveAlternativeTx(ctx context.Context) ApiReceiveAlternativeTxRequest {
	return ApiReceiveAlternativeTxRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NotifyTxRejectResult
func (a *Class00StarkExPublicApiAPIService) ReceiveAlternativeTxExecute(r ApiReceiveAlternativeTxRequest) (*NotifyTxRejectResult, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NotifyTxRejectResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "Class00StarkExPublicApiAPIService.ReceiveAlternativeTx")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/public/starkex/receiveAlternativeTx"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.notifyTxRejectParam == nil {
		return localVarReturnValue, nil, reportError("notifyTxRejectParam is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.notifyTxRejectParam
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v NotifyTxRejectResult
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
