openapi: 3.0.1
info:
  description: "Contains interface documents such as accounts, assets, transactions,\
    \ etc."
  title: Http Gateway
  version: v1.0.0
externalDocs:
  description: Http Gateway project address
  url: https://github.com/edgex-Tech/edgex-http-gateway
servers:
- description: Generated server url
  url: https://api-docs.edgex.exchange
tags:
- description: Account-related API services
  name: 03.AccountPrivateApi
- description: User private API services
  name: 08.UserPrivateApi
- description: Order-related API services
  name: 04.OrderPrivateApi
- description: Withdrawal-related API services
  name: 06.WithdrawPrivateApi
- description: Metadata/Basic Data Services
  name: 00.MetaDataPublicApi
- description: Transfer-related API services
  name: 07.TransferPrivateApi
- description: User public API services
  name: 02.UserPublicApi
- description: Deposit-related API services
  name: 05.DepositPrivateApi
- description: StarkEx usage API
  name: 00.StarkExPublicApi
- description: Asset service related API
  name: 09.AssetsPrivateApi
- description: App usage API
  name: 00.AppPublicApi
paths:
  /api/v1/public/user/verifyEmail:
    post:
      operationId: verifyEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Verify email
      tags:
      - 02.UserPublicApi
  /api/v1/public/user/onboardSite:
    post:
      operationId: onboardSite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardSiteParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_OnboardSite_'
          description: default response
      summary: User login site
      tags:
      - 02.UserPublicApi
  /api/v1/public/starkex/receiveAlternativeTx:
    post:
      operationId: receiveAlternativeTx
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyTxRejectParam'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyTxRejectResult'
          description: default response
      summary: Notify transaction rejection
      tags:
      - 00.StarkExPublicApi
  /api/v1/public/index/forcePushPrice:
    post:
      operationId: forcePushPrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForcePushPriceParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Force push price as oracle price (for testing only)
      tags:
      - 01.IndexPublicApi
  /api/v1/private/withdraw/createWithdraw:
    post:
      operationId: createWithdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWithdrawParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateWithdraw_'
          description: default response
      summary: Create withdrawal order
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/user/updateUser:
    post:
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Update user information
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/updateUserPreference:
    post:
      operationId: updateUserPreference
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPreferenceParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Update user preferences
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/sendEmailVerification:
    post:
      operationId: sendEmailVerification
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: (Re)send email verification
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/readSiteMessage:
    post:
      operationId: readSiteMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadSiteMessageParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Mark site message as read
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/createPushConfig:
    post:
      operationId: createPushConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePushConfig'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Add push configuration
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/createAppScanSecret:
    post:
      operationId: createAppScanSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppScanSecretParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateAppScanSecret_'
          description: default response
      summary: Create AppScanSecret
      tags:
      - 08.UserPrivateApi
  /api/v1/private/transfer/createTransferOut:
    post:
      operationId: createTransferOut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferOutParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateTransferOut_'
          description: default response
      summary: Create order
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/order/getMaxCreateOrderSize:
    post:
      operationId: getMaxCreateOrderSize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMaxCreateOrderSizeParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetMaxCreateOrderSize_'
          description: default response
      summary: Get maximum order size
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/createOrder:
    post:
      operationId: createOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateOrder_'
          description: default response
      summary: Create order
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/cancelOrderById:
    post:
      operationId: cancelOrderById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderByIdParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CancelOrder_'
          description: default response
      summary: Cancel order by order ID
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/cancelOrderByClientOrderId:
    post:
      operationId: cancelOrderByClientOrderId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderByClientOrderIdParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CancelOrderByClientOrderId_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Cancel order by client ID
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/cancelAllOrder:
    post:
      operationId: cancelAllOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllOrderParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CancelOrder_'
          description: default response
      summary: Cancel all orders for an account
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/deposit/requestRelayerSignAndBroadcast:
    post:
      operationId: requestRelayerSignAndBroadcast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRelayerSignAndBroadcastParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ResultRequestRelayerSignAndBroadcast_'
          description: default response
      summary: Create Relayer deposit order
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/deposit/createDeposit:
    post:
      operationId: createDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDepositParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateDeposit_'
          description: default response
      summary: Create deposit order
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/assets/createNormalWithdraw:
    post:
      operationId: createNormalWithdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNormalWithdrawParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateNormalWithdraw_'
          description: default response
      summary: Create normal withdrawal order
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/createFastWithdraw:
    post:
      operationId: createFastWithdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFastWithdrawRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateFastWithdraw_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Create fast withdrawal order
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/createCrossWithdraw:
    post:
      operationId: createCrossWithdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCrossWithdrawParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateCrossWithdraw_'
          description: default response
      summary: Create fast withdrawal order
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/account/updateLeverageSetting:
    post:
      operationId: updateLeverageSetting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeverageSettingParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Update account leverage settings
      tags:
      - 03.AccountPrivateApi
  /api/v1/private/account/registerAccount:
    post:
      operationId: registerAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAccountParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_RegisterAccount_'
          description: default response
      summary: Register account
      tags:
      - 03.AccountPrivateApi
  /api/v1/public/user/getAppScanSecret:
    get:
      operationId: getAppScanSecret
      parameters:
      - description: Token
        explode: true
        in: query
        name: Token
        required: false
        schema:
          description: Token
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetAppScanSecret_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get AppScanSecret
      tags:
      - 02.UserPublicApi
  /api/v1/public/user/checkUserExist:
    get:
      operationId: checkUserExist
      parameters:
      - description: ETH address
        explode: true
        in: query
        name: ethAddress
        required: false
        schema:
          description: ETH address
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CheckUserExist_'
          description: default response
      summary: Check if user exists
      tags:
      - 02.UserPublicApi
  /api/v1/public/quote/getTicketSummary:
    get:
      operationId: getTicketSummary
      parameters:
      - description: Summary period
        explode: true
        in: query
        name: period
        required: false
        schema:
          description: Summary period
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetTickerSummaryModel_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get quote summary
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getTicker:
    get:
      operationId: getTicker
      parameters:
      - description: Contract ID
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: Contract ID
          format: int64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Ticker__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get 24-hour quote
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getStatDayTrade:
    get:
      operationId: getStatDayTrade
      parameters:
      - description: Filter for start time of daily trade statistics
        explode: true
        in: query
        name: startDayTimeInclusive
        required: false
        schema:
          description: Filter for start time of daily trade statistics
          format: int64
          type: string
        style: form
      - description: Filter for end time of daily trade statistics
        explode: true
        in: query
        name: endDayTimeExclusive
        required: false
        schema:
          description: Filter for end time of daily trade statistics
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_StatDayTrade__'
          description: default response
      summary: Get daily trade statistics
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getMultiContractKline:
    get:
      operationId: getMultiContractKline
      parameters:
      - description: Contract ID collection
        explode: true
        in: query
        name: contractIdList
        required: false
        schema:
          description: Contract ID collection
          format: int64
          type: string
        style: form
      - description: Price type
        explode: true
        in: query
        name: priceType
        required: false
        schema:
          description: Price type
          type: string
        style: form
      - description: Kline type
        explode: true
        in: query
        name: klineType
        required: false
        schema:
          description: Kline type
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 200
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 200
          type: string
        style: form
      - description: "Start time for query (if 0, current time is used). Data is returned\
          \ in reverse chronological order"
        explode: true
        in: query
        name: filterBeginKlineTimeInclusive
        required: false
        schema:
          description: "Start time for query (if 0, current time is used). Data is\
            \ returned in reverse chronological order"
          format: int64
          type: string
        style: form
      - description: End time for query
        explode: true
        in: query
        name: filterEndKlineTimeExclusive
        required: false
        schema:
          description: End time for query
          format: int64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_ContractKline__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Query multiple contract Klines
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getKline:
    get:
      operationId: getKline
      parameters:
      - description: Contract ID
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: Contract ID
          format: int64
          type: string
        style: form
      - description: Price type
        explode: true
        in: query
        name: priceType
        required: false
        schema:
          description: Price type
          type: string
        style: form
      - description: Kline type
        explode: true
        in: query
        name: klineType
        required: false
        schema:
          description: Kline type
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 1000
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 1000
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "Start time for query (if 0, current time is used). Data is returned\
          \ in reverse chronological order"
        explode: true
        in: query
        name: filterBeginKlineTimeInclusive
        required: false
        schema:
          description: "Start time for query (if 0, current time is used). Data is\
            \ returned in reverse chronological order"
          format: int64
          type: string
        style: form
      - description: End time for query
        explode: true
        in: query
        name: filterEndKlineTimeExclusive
        required: false
        schema:
          description: End time for query
          format: int64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Kline__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Query Kline
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getExchangeLongShortRatio:
    get:
      operationId: getExchangeLongShortRatio
      parameters:
      - description: "If not provided, the data with the smallest range is returned"
        explode: true
        in: query
        name: range
        required: false
        schema:
          description: "If not provided, the data with the smallest range is returned"
          type: string
        style: form
      - description: "If not provided, data for all contracts is returned"
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: "If not provided, data for all contracts is returned"
          type: string
        style: form
      - description: "If not provided, data for all exchanges is returned"
        explode: true
        in: query
        name: filterExchangeList
        required: false
        schema:
          description: "If not provided, data for all exchanges is returned"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetTickerSummaryModel_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get daily trade statistics
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getDepth:
    get:
      operationId: getDepth
      parameters:
      - description: Contract ID
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: Contract ID
          format: int64
          type: string
        style: form
      - description: Depth level. Available options are 15 and 200
        explode: true
        in: query
        name: level
        required: false
        schema:
          description: Depth level. Available options are 15 and 200
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Depth__'
          description: default response
      summary: Query order book depth
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getAccurateOpenInterest:
    get:
      operationId: getAccurateOpenInterest
      parameters:
      - description: Contract ID collection
        explode: true
        in: query
        name: contractIdList
        required: false
        schema:
          description: Contract ID collection
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_OpenInterest__'
          description: default response
      summary: Get accurate OpenInterest
      tags:
      - 01.QuotePublicApi
  /api/v1/public/meta/getServerTime:
    get:
      operationId: getServerTime
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetServerTime_'
          description: default response
      summary: Get server time
      tags:
      - 00.MetaDataPublicApi
  /api/v1/public/meta/getMetaData:
    get:
      operationId: getMetaData
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MetaData_'
          description: default response
      summary: Get metadata
      tags:
      - 00.MetaDataPublicApi
  /api/v1/public/index/getIndexPriceConfig:
    get:
      operationId: getIndexPriceConfig
      parameters:
      - description: Specified contract ID
        explode: true
        in: query
        name: contractIdList
        required: false
        schema:
          description: Specified contract ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_IndexPriceConfig__'
          description: default response
      summary: Query index price configuration by contract ID
      tags:
      - 01.IndexPublicApi
  /api/v1/public/funding/getLatestFundingRate:
    get:
      operationId: getLatestFundingRate
      parameters:
      - description: Contract ID
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: Contract ID
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_FundingRate__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Query latest funding rate by contract ID
      tags:
      - 01.FundingPublicApi
  /api/v1/public/funding/getFundingRatePage:
    get:
      operationId: getFundingRatePage
      parameters:
      - description: Contract ID
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: Contract ID
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "If true, only settlement funding rates are returned (funding\
          \ rates are settled every 8 hours, with a predicted funding rate calculated\
          \ every minute)"
        explode: true
        in: query
        name: filterSettlementFundingRate
        required: false
        schema:
          description: "If true, only settlement funding rates are returned (funding\
            \ rates are settled every 8 hours, with a predicted funding rate calculated\
            \ every minute)"
          type: string
        style: form
      - description: "Start time. If not provided, the oldest data is returned"
        explode: true
        in: query
        name: filterBeginTimeInclusive
        required: false
        schema:
          description: "Start time. If not provided, the oldest data is returned"
          type: string
        style: form
      - description: "End time. If not provided, the latest data is returned"
        explode: true
        in: query
        name: filterEndTimeExclusive
        required: false
        schema:
          description: "End time. If not provided, the latest data is returned"
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FundingRate__'
          description: default response
      summary: Query funding rate history by contract ID
      tags:
      - 01.FundingPublicApi
  /api/v1/public/cmc/getOrderBook:
    get:
      operationId: getOrderBook
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FundingRate__'
          description: default response
      summary: Endpoint B3 (Order book)
      tags:
      - CMCPublicApi
  /api/v1/public/cmc/getContracts:
    get:
      operationId: getContracts
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FundingRate__'
          description: default response
      summary: Endpoint B1 (Contracts)
      tags:
      - CMCPublicApi
  /api/v1/public/cmc/getContractSpecifications:
    get:
      operationId: getContractSpecifications
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FundingRate__'
          description: default response
      summary: Endpoint B2  (Contract specifications)
      tags:
      - CMCPublicApi
  /api/v1/public/app/checkAppUpdate:
    get:
      operationId: getAppUpdate
      parameters:
      - description: "Client type. For example, Android / iOS"
        explode: true
        in: query
        name: platform
        required: false
        schema:
          description: "Client type. For example, Android / iOS"
          type: string
        style: form
      - description: "Client requested language. For example, zh-CN / en-US"
        explode: true
        in: query
        name: language
        required: false
        schema:
          description: "Client requested language. For example, zh-CN / en-US"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AppUpdate_'
          description: default response
      summary: Get APP update information
      tags:
      - 00.AppPublicApi
  /api/v1/public/1inch/getQuota:
    get:
      operationId: getQuota
      parameters:
      - description: Chain ID
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: Chain ID
          type: string
        style: form
      - description: Input token contract address
        explode: true
        in: query
        name: src
        required: false
        schema:
          description: Input token contract address
          type: string
        style: form
      - description: Output token contract address
        explode: true
        in: query
        name: dst
        required: false
        schema:
          description: Output token contract address
          type: string
        style: form
      - description: Input amount with precision
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: Input amount with precision
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Get1inchQuote_'
          description: default response
      summary: Get token exchange rate
      tags:
      - 01.1inchPublicController
  /api/v1/public/1inch/getAggregateExchangeData:
    get:
      operationId: getAggregateExchangeData
      parameters:
      - description: Chain ID
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: Chain ID
          type: string
        style: form
      - description: Input token contract address
        explode: true
        in: query
        name: src
        required: false
        schema:
          description: Input token contract address
          type: string
        style: form
      - description: Output token contract address
        explode: true
        in: query
        name: dst
        required: false
        schema:
          description: Output token contract address
          type: string
        style: form
      - description: Input amount with precision
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: Input amount with precision
          type: string
        style: form
      - description: Slippage
        explode: true
        in: query
        name: slippage
        required: false
        schema:
          description: Slippage
          type: string
        style: form
      - description: Liquidity pool contract address
        explode: true
        in: query
        name: from
        required: false
        schema:
          description: Liquidity pool contract address
          type: string
        style: form
      - description: Liquidity pool contract address
        explode: true
        in: query
        name: receiver
        required: false
        schema:
          description: Liquidity pool contract address
          type: string
        style: form
      - description: Whether to disable on-chain simulation
        explode: true
        in: query
        name: disableEstimate
        required: false
        schema:
          description: Whether to disable on-chain simulation
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetAggregateExchangeData_'
          description: default response
      summary: Get token exchange rate
      tags:
      - 01.1inchPublicController
  /api/v1/private/withdraw/getWithdrawById:
    get:
      operationId: getWithdrawById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Withdrawal order ID
        explode: true
        in: query
        name: withdrawIdList
        required: false
        schema:
          description: Withdrawal order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Withdraw__'
          description: default response
      summary: Get withdrawal orders by ID
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/withdraw/getWithdrawByClientWithdrawId:
    get:
      operationId: getWithdrawByClientWithdrawId
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Withdrawal order ID
        explode: true
        in: query
        name: clientWithdrawIdList
        required: false
        schema:
          description: Withdrawal order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Withdraw__'
          description: default response
      summary: Get withdrawal orders by ID
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/withdraw/getWithdrawAvailableAmount:
    get:
      operationId: getWithdrawAvailableAmount
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Coin ID
        explode: true
        in: query
        name: coinId
        required: false
        schema:
          description: Coin ID
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetWithdrawAvailableAmount_'
          description: default response
      summary: Get withdrawal orders (paginated)
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/withdraw/getActiveWithdraw:
    get:
      operationId: getActiveWithdraw
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "Filter for collateral coin ID. If not provided, withdrawal orders\
          \ for all collateral coins are returned"
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: "Filter for collateral coin ID. If not provided, withdrawal\
            \ orders for all collateral coins are returned"
          type: string
        style: form
      - description: "Filter for withdrawal order status. If not provided, withdrawal\
          \ orders of all statuses are returned"
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: "Filter for withdrawal order status. If not provided, withdrawal\
            \ orders of all statuses are returned"
          type: string
        style: form
      - description: "Filter for start time of withdrawal order creation (inclusive).\
          \ If not provided or 0, data from the beginning is returned"
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: "Filter for start time of withdrawal order creation (inclusive).\
            \ If not provided or 0, data from the beginning is returned"
          type: string
        style: form
      - description: "Filter for end time of withdrawal order creation (exclusive).\
          \ If not provided or 0, data up to the latest is returned"
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: "Filter for end time of withdrawal order creation (exclusive).\
            \ If not provided or 0, data up to the latest is returned"
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Withdraw__'
          description: default response
      summary: Get withdrawal orders (paginated)
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/user/getUser:
    get:
      operationId: getUserById
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_User_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get user information by ID
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/getUserPreference:
    get:
      operationId: getUserPreference
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_UserPreference_'
          description: default response
      summary: Get user preferences
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/getUserInfo:
    get:
      operationId: getUserInfo
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_UserInfo_'
          description: default response
      summary: Get user information and preferences
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/getSiteMessagePage:
    get:
      operationId: getSiteMessagePage
      parameters:
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "Site message type (sub-category). Ignored for now, will be used\
          \ when needed"
        explode: true
        in: query
        name: filterBusinessTypeList
        required: false
        schema:
          description: "Site message type (sub-category). Ignored for now, will be\
            \ used when needed"
          type: string
        style: form
      - description: "Site message type (category). If not provided, all messages\
          \ are returned"
        explode: true
        in: query
        name: filterNotifyCategoryList
        required: false
        schema:
          description: "Site message type (category). If not provided, all messages\
            \ are returned"
          type: string
        style: form
      - description: "\"true\": Get unread messages, otherwise get all messages"
        explode: true
        in: query
        name: unread
        required: false
        schema:
          description: "\"true\": Get unread messages, otherwise get all messages"
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_SiteMessage__'
          description: default response
      summary: Get site messages (paginated)
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/getFaucetCoinClaimPage:
    get:
      operationId: getFaucetCoinClaimPage
      parameters:
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FaucetCoinClaim__'
          description: default response
      summary: Get faucet coin claim history (paginated)
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/claimFaucetCoin:
    get:
      operationId: claimFaucetCoin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ClaimFaucetCoin_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Claim faucet test coins
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/checkUserNicknameExist:
    get:
      operationId: checkUserNicknameExist
      parameters:
      - description: Nickname
        explode: true
        in: query
        name: nickname
        required: true
        schema:
          description: Nickname
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CheckUserNicknameExist_'
          description: default response
      summary: Check if user nickname exists
      tags:
      - 08.UserPrivateApi
  /api/v1/private/transfer/getTransferOutById:
    get:
      operationId: getTransferOutById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Transfer out order ID
        explode: true
        in: query
        name: transferOutIdList
        required: false
        schema:
          description: Transfer out order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_TransferOut__'
          description: default response
      summary: Get transfer out orders by ID
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/transfer/getTransferOutAvailableAmount:
    get:
      operationId: getWithdrawAvailableAmount_1
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Coin ID
        explode: true
        in: query
        name: coinId
        required: false
        schema:
          description: Coin ID
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetTransferOutAvailableAmount_'
          description: default response
      summary: Get withdrawal orders (paginated)
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/transfer/getTransferInById:
    get:
      operationId: getTransferInById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Transfer in order ID
        explode: true
        in: query
        name: transferInIdList
        required: false
        schema:
          description: Transfer in order ID
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_TransferIn__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get transfer in orders by ID
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/transfer/getActiveTransferOut:
    get:
      operationId: getActiveTransferOut
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "Filter for collateral coin ID. If not provided, transfer in\
          \ orders for all collateral coins are returned"
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: "Filter for collateral coin ID. If not provided, transfer in\
            \ orders for all collateral coins are returned"
          type: string
        style: form
      - description: "Filter for transfer in order status. If not provided, transfer\
          \ in orders of all statuses are returned"
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: "Filter for transfer in order status. If not provided, transfer\
            \ in orders of all statuses are returned"
          type: string
        style: form
      - description: "Filter for transfer reason. If not provided, transfer in orders\
          \ of all transfer reasons are returned"
        explode: true
        in: query
        name: filterTransferReasonList
        required: false
        schema:
          description: "Filter for transfer reason. If not provided, transfer in orders\
            \ of all transfer reasons are returned"
          type: string
        style: form
      - description: "Filter for start time of transfer in order creation (inclusive).\
          \ If not provided or 0, the earliest transfer in orders are returned"
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: "Filter for start time of transfer in order creation (inclusive).\
            \ If not provided or 0, the earliest transfer in orders are returned"
          type: string
        style: form
      - description: "Filter for end time of transfer in order creation (exclusive).\
          \ If not provided or 0, the latest transfer in orders are returned"
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: "Filter for end time of transfer in order creation (exclusive).\
            \ If not provided or 0, the latest transfer in orders are returned"
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_TransferOut__'
          description: default response
      summary: Get transfer out orders (paginated)
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/transfer/getActiveTransferIn:
    get:
      operationId: getActiveTransferIn
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "Filter for collateral coin ID. If not provided, transfer out\
          \ orders for all collateral coins are returned"
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: "Filter for collateral coin ID. If not provided, transfer out\
            \ orders for all collateral coins are returned"
          type: string
        style: form
      - description: "Filter for transfer out order status. If not provided, transfer\
          \ out orders of all statuses are returned"
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: "Filter for transfer out order status. If not provided, transfer\
            \ out orders of all statuses are returned"
          type: string
        style: form
      - description: "Filter for transfer reason. If not provided, transfer out orders\
          \ of all transfer reasons are returned"
        explode: true
        in: query
        name: filterTransferReasonList
        required: false
        schema:
          description: "Filter for transfer reason. If not provided, transfer out\
            \ orders of all transfer reasons are returned"
          type: string
        style: form
      - description: "Filter for start time of transfer out order creation (inclusive).\
          \ If not provided or 0, the earliest transfer out orders are returned"
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: "Filter for start time of transfer out order creation (inclusive).\
            \ If not provided or 0, the earliest transfer out orders are returned"
          type: string
        style: form
      - description: "Filter for end time of transfer out order creation (exclusive).\
          \ If not provided or 0, the latest transfer out orders are returned"
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: "Filter for end time of transfer out order creation (exclusive).\
            \ If not provided or 0, the latest transfer out orders are returned"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_TransferIn__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get transfer in orders (paginated)
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/order/getOrderById:
    get:
      operationId: getOrderById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Order ID
        explode: true
        in: query
        name: orderIdList
        required: false
        schema:
          description: Order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Order__'
          description: default response
      summary: Get orders by account ID and order ID
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getOrderByClientOrderId:
    get:
      operationId: getOrderByClientOrderId
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Client-defined order ID
        explode: true
        in: query
        name: clientOrderIdList
        required: false
        schema:
          description: Client-defined order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Order__'
          description: default response
      summary: Get orders by client ID
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderPage:
    get:
      operationId: getHistoryOrderPage
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "Filter for collateral coin ID. If not provided, orders for all\
          \ collateral coins are returned"
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: "Filter for collateral coin ID. If not provided, orders for\
            \ all collateral coins are returned"
          type: string
        style: form
      - description: "Filter for specific contract orders; if empty, orders for all\
          \ contracts are returned"
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: "Filter for specific contract orders; if empty, orders for\
            \ all contracts are returned"
          type: string
        style: form
      - description: "Filter for order type. If not provided, orders of all types\
          \ are returned"
        explode: true
        in: query
        name: filterTypeList
        required: false
        schema:
          description: "Filter for order type. If not provided, orders of all types\
            \ are returned"
          type: string
        style: form
      - description: "Filter for order status. If not provided, orders of all statuses\
          \ are returned"
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: "Filter for order status. If not provided, orders of all statuses\
            \ are returned"
          type: string
        style: form
      - description: "Filter for liquidation orders. If not provided, all orders are\
          \ returned"
        explode: true
        in: query
        name: filterIsLiquidateList
        required: false
        schema:
          description: "Filter for liquidation orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for deleverage orders. If not provided, all orders are\
          \ returned"
        explode: true
        in: query
        name: filterIsDeleverageList
        required: false
        schema:
          description: "Filter for deleverage orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for position TP/SL orders. If not provided, all orders\
          \ are returned"
        explode: true
        in: query
        name: filterIsPositionTpslList
        required: false
        schema:
          description: "Filter for position TP/SL orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for start time of order creation (inclusive). If not\
          \ provided or 0, the earliest orders are returned"
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: "Filter for start time of order creation (inclusive). If not\
            \ provided or 0, the earliest orders are returned"
          format: int64
          type: string
        style: form
      - description: "Filter for end time of order creation (exclusive). If not provided\
          \ or 0, the latest orders are returned"
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: "Filter for end time of order creation (exclusive). If not\
            \ provided or 0, the latest orders are returned"
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Order__'
          description: default response
      summary: Get orders by account ID (paginated)
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderFillTransactionPage:
    get:
      operationId: getHistoryOrderFillTransactionPage
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "Filter for fills by collateral coin ID. If not provided, fills\
          \ for all collateral coins are returned"
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: "Filter for fills by collateral coin ID. If not provided, fills\
            \ for all collateral coins are returned"
          type: string
        style: form
      - description: "Filter for fills by specific contract; if empty, fills for all\
          \ contracts are returned"
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: "Filter for fills by specific contract; if empty, fills for\
            \ all contracts are returned"
          type: string
        style: form
      - description: "Filter for fills by specific order; if empty, fills for all\
          \ orders are returned"
        explode: true
        in: query
        name: filterOrderIdList
        required: false
        schema:
          description: "Filter for fills by specific order; if empty, fills for all\
            \ orders are returned"
          type: string
        style: form
      - description: "Filter for liquidation orders. If not provided, all orders are\
          \ returned"
        explode: true
        in: query
        name: filterIsLiquidateList
        required: false
        schema:
          description: "Filter for liquidation orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for deleverage orders. If not provided, all orders are\
          \ returned"
        explode: true
        in: query
        name: filterIsDeleverageList
        required: false
        schema:
          description: "Filter for deleverage orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for position TP/SL orders. If not provided, all orders\
          \ are returned"
        explode: true
        in: query
        name: filterIsPositionTpslList
        required: false
        schema:
          description: "Filter for position TP/SL orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for start time of order creation (inclusive). If not\
          \ provided or 0, the earliest orders are returned"
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: "Filter for start time of order creation (inclusive). If not\
            \ provided or 0, the earliest orders are returned"
          format: int64
          type: string
        style: form
      - description: "Filter for end time of order creation (exclusive). If not provided\
          \ or 0, the latest orders are returned"
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: "Filter for end time of order creation (exclusive). If not\
            \ provided or 0, the latest orders are returned"
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_OrderFillTransaction__'
          description: default response
      summary: Get fills by account ID and order IDs
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderFillTransactionById:
    get:
      operationId: getHistoryOrderFillTransactionById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Fill ID
        explode: true
        in: query
        name: orderFillTransactionIdList
        required: false
        schema:
          description: Fill ID
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_OrderFillTransaction__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get fills by account ID and fill ID
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderById:
    get:
      operationId: getHistoryOrderById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Order ID
        explode: true
        in: query
        name: orderIdList
        required: false
        schema:
          description: Order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Order__'
          description: default response
      summary: Get orders by account ID and order ID
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderByClientOrderId:
    get:
      operationId: getHistoryOrderByClientOrderId
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Order client order ID
        explode: true
        in: query
        name: clientOrderIdList
        required: false
        schema:
          description: Order client order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Order__'
          description: default response
      summary: Get orders by account ID and order ID
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getActiveOrderPage:
    get:
      operationId: getActiveOrderPage
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 200
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 200
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      - description: "Filter for active orders by collateral coin ID. If not provided,\
          \ active orders for all collateral coins are returned"
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: "Filter for active orders by collateral coin ID. If not provided,\
            \ active orders for all collateral coins are returned"
          type: string
        style: form
      - description: "Filter for active orders by specific contract. If not provided,\
          \ active orders for all contracts are returned"
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: "Filter for active orders by specific contract. If not provided,\
            \ active orders for all contracts are returned"
          type: string
        style: form
      - description: "Filter for order type. If not provided, orders of all types\
          \ are returned"
        explode: true
        in: query
        name: filterTypeList
        required: false
        schema:
          description: "Filter for order type. If not provided, orders of all types\
            \ are returned"
          type: string
        style: form
      - description: "Filter for order status. If not provided, orders of all statuses\
          \ are returned"
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: "Filter for order status. If not provided, orders of all statuses\
            \ are returned"
          type: string
        style: form
      - description: "Filter for liquidation orders. If not provided, all orders are\
          \ returned"
        explode: true
        in: query
        name: filterIsLiquidateList
        required: false
        schema:
          description: "Filter for liquidation orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for deleverage orders. If not provided, all orders are\
          \ returned"
        explode: true
        in: query
        name: filterIsDeleverageList
        required: false
        schema:
          description: "Filter for deleverage orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for position TP/SL orders. If not provided, all orders\
          \ are returned"
        explode: true
        in: query
        name: filterIsPositionTpslList
        required: false
        schema:
          description: "Filter for position TP/SL orders. If not provided, all orders\
            \ are returned"
          type: string
        style: form
      - description: "Filter for start time of order creation (inclusive). If not\
          \ provided or 0, the earliest orders are returned"
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: "Filter for start time of order creation (inclusive). If not\
            \ provided or 0, the earliest orders are returned"
          type: string
        style: form
      - description: 过滤获取指定结束时间创建的委托单 (不包含)，不填或者为0的话就到最近
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: 过滤获取指定结束时间创建的委托单 (不包含)，不填或者为0的话就到最近
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Order__'
          description: default response
      summary: Get active orders for an account (paginated)
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/deposit/getDepositById:
    get:
      operationId: getDepositById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Deposit order ID
        explode: true
        in: query
        name: depositIdList
        required: false
        schema:
          description: Deposit order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Deposit__'
          description: default response
      summary: Get deposit orders by ID
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/deposit/getDepositByClientDepositId:
    get:
      operationId: getDepositByClientDepositId
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Client-defined ID
        explode: true
        in: query
        name: clientDepositIdList
        required: false
        schema:
          description: Client-defined ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Deposit__'
          description: default response
      summary: Get deposit orders by account ID and client ID
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/deposit/getActiveDeposit:
    get:
      operationId: getActiveDeposit
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Number of entries to retrieve. Must be greater than 0 and less
          than or equal to 100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: Number of entries to retrieve. Must be greater than 0 and less
            than or equal to 100
          type: string
        style: form
      - description: "Pagination offset. If not provided or empty, the first page\
          \ is returned"
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: "Pagination offset. If not provided or empty, the first page\
            \ is returned"
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Deposit__'
          description: default response
      summary: Get deposit orders (paginated)
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/assets/getNormalWithdrawableAmount:
    get:
      operationId: getNormalWithdrawableAmount
      parameters:
      - description: User address
        explode: true
        in: query
        name: address
        required: true
        schema:
          description: User address
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetNormalWithdrawableAmount_'
          description: default response
      summary: Query user's available normal withdrawal amount
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getNormalWithdrawById:
    get:
      operationId: getNormalWithdrawById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Withdrawal order ID
        explode: true
        in: query
        name: normalWithdrawIdList
        required: false
        schema:
          description: Withdrawal order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_NormalWithdraw__'
          description: default response
      summary: Get normal withdrawal orders by account ID and withdrawal ID
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getFastWithdrawSignInfo:
    get:
      operationId: getFastWithdrawSignInfo
      parameters:
      - description: Which chain
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: Which chain
          type: string
        style: form
      - description: Withdrawal amount
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: Withdrawal amount
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetFastWithdrawSignInfo_'
          description: default response
      summary: Query information needed for fast withdrawal signature
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getFastWithdrawById:
    get:
      operationId: getFastWithdrawById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Withdrawal order ID
        explode: true
        in: query
        name: fastWithdrawIdList
        required: false
        schema:
          description: Withdrawal order ID
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_FastWithdraw__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: Get fast withdrawal orders by account ID and withdrawal ID
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getCrossWithdrawSignInfo:
    get:
      operationId: getCrossWithdrawSignInfo
      parameters:
      - description: Chain ID
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: Chain ID
          type: string
        style: form
      - description: Withdrawal amount
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: Withdrawal amount
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetCrossWithdrawSignInfo_'
          description: default response
      summary: Query information needed for cross-chain withdrawal signature
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getCrossWithdrawById:
    get:
      operationId: getCrossWithdrawById
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          format: int64
          type: string
        style: form
      - description: Withdrawal order ID
        explode: true
        in: query
        name: crossWithdrawIdList
        required: false
        schema:
          description: Withdrawal order ID
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_CrossWithdraw__'
          description: default response
      summary: Get cross-chain withdrawal orders by account ID and withdrawal ID
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getCoinRate:
    get:
      operationId: getCoinRate
      parameters:
      - description: Chain ID
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: Chain ID
          format: int64
          type: string
        style: form
      - description: Coin/Token
        explode: true
        in: query
        name: coin
        required: false
        schema:
          description: Coin/Token
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetCoinRate_'
          description: default response
      summary: Aggregate query for all deposit and withdrawal order records
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getAllOrdersPage:
    get:
      operationId: getAllOrdersPage
      parameters:
      - description: Account ID
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: Account ID
          type: string
        style: form
[...]
