openapi: 3.0.1
info:
  description: "Contains interface documents such as accounts, assets, transactions,\
    \ etc."
  title: Http Gateway
  version: v1.0.0
externalDocs:
  description: Http Gateway项目地址
  url: https://github.com/edgex-Tech/edgex-http-gateway
servers:
- description: Generated server url
  url: https://api-docs.edgex.exchange
tags:
- description: 账户相关接口服务
  name: 03.AccountPrivateApi
- description: 用户私有接口服务
  name: 08.UserPrivateApi
- description: 订单相关接口服务
  name: 04.OrderPrivateApi
- description: 提现相关接口服务
  name: 06.WithdrawPrivateApi
- description: 元数据/基础数据服务
  name: 00.MetaDataPublicApi
- description: 转账相关接口服务
  name: 07.TransferPrivateApi
- description: 用户公有接口服务
  name: 02.UserPublicApi
- description: 充值相关接口服务
  name: 05.DepositPrivateApi
- description: starkex使用api
  name: 00.StarkExPublicApi
- description: 资产服务相关接口
  name: 09.AssetsPrivateApi
- description: app使用api
  name: 00.AppPublicApi
paths:
  /api/v1/public/user/verifyEmail:
    post:
      operationId: verifyEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 验证邮箱
      tags:
      - 02.UserPublicApi
  /api/v1/public/user/onboardSite:
    post:
      operationId: onboardSite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardSiteParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_OnboardSite_'
          description: default response
      summary: 用户登录站点
      tags:
      - 02.UserPublicApi
  /api/v1/public/starkex/receiveAlternativeTx:
    post:
      operationId: receiveAlternativeTx
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyTxRejectParam'
        required: true
      responses:
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyTxRejectResult'
          description: default response
      summary: 通知交易拒绝
      tags:
      - 00.StarkExPublicApi
  /api/v1/public/index/forcePushPrice:
    post:
      operationId: forcePushPrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForcePushPriceParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 按照某个指定价格作为预言机价格推送(仅测试时使用)
      tags:
      - 01.IndexPublicApi
  /api/v1/private/withdraw/createWithdraw:
    post:
      operationId: createWithdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWithdrawParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateWithdraw_'
          description: default response
      summary: 创建提现单
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/user/updateUser:
    post:
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 更新用户信息
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/updateUserPreference:
    post:
      operationId: updateUserPreference
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserPreferenceParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 更新用户设置
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/sendEmailVerification:
    post:
      operationId: sendEmailVerification
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: (重新)发送邮箱验证
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/readSiteMessage:
    post:
      operationId: readSiteMessage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadSiteMessageParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 标识阅读站内信消息
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/createPushConfig:
    post:
      operationId: createPushConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePushConfig'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 添加push配置
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/createAppScanSecret:
    post:
      operationId: createAppScanSecret
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppScanSecretParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateAppScanSecret_'
          description: default response
      summary: 创建AppScanSecret
      tags:
      - 08.UserPrivateApi
  /api/v1/private/transfer/createTransferOut:
    post:
      operationId: createTransferOut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferOutParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateTransferOut_'
          description: default response
      summary: 创建委托单
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/order/getMaxCreateOrderSize:
    post:
      operationId: getMaxCreateOrderSize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetMaxCreateOrderSizeParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetMaxCreateOrderSize_'
          description: default response
      summary: 获取最大下单数量
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/createOrder:
    post:
      operationId: createOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateOrder_'
          description: default response
      summary: 创建委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/cancelOrderById:
    post:
      operationId: cancelOrderById
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderByIdParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CancelOrder_'
          description: default response
      summary: 根据委托单id取消委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/cancelOrderByClientOrderId:
    post:
      operationId: cancelOrderByClientOrderId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderByClientOrderIdParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CancelOrderByClientOrderId_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 根据clientId取消委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/cancelAllOrder:
    post:
      operationId: cancelAllOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllOrderParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CancelOrder_'
          description: default response
      summary: 取消账户下所有委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/deposit/requestRelayerSignAndBroadcast:
    post:
      operationId: requestRelayerSignAndBroadcast
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestRelayerSignAndBroadcastParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ResultRequestRelayerSignAndBroadcast_'
          description: default response
      summary: 创建 Relayer 充值单
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/deposit/createDeposit:
    post:
      operationId: createDeposit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDepositParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateDeposit_'
          description: default response
      summary: 创建充值单
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/assets/createNormalWithdraw:
    post:
      operationId: createNormalWithdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNormalWithdrawParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateNormalWithdraw_'
          description: default response
      summary: 创建普通提现单
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/createFastWithdraw:
    post:
      operationId: createFastWithdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFastWithdrawRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateFastWithdraw_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 创建快速提现单
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/createCrossWithdraw:
    post:
      operationId: createCrossWithdraw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCrossWithdrawParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CreateCrossWithdraw_'
          description: default response
      summary: 创建快速提现单
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/account/updateLeverageSetting:
    post:
      operationId: updateLeverageSetting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeverageSettingParam'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Void_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 更新账户交易杠杆设置
      tags:
      - 03.AccountPrivateApi
  /api/v1/private/account/registerAccount:
    post:
      operationId: registerAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAccountParam'
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_RegisterAccount_'
          description: default response
      summary: 注册账户
      tags:
      - 03.AccountPrivateApi
  /api/v1/public/user/getAppScanSecret:
    get:
      operationId: getAppScanSecret
      parameters:
      - description: token
        explode: true
        in: query
        name: token
        required: false
        schema:
          description: token
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetAppScanSecret_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 获取AppScanSecret
      tags:
      - 02.UserPublicApi
  /api/v1/public/user/checkUserExist:
    get:
      operationId: checkUserExist
      parameters:
      - description: ETH地址
        explode: true
        in: query
        name: ethAddress
        required: false
        schema:
          description: ETH地址
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CheckUserExist_'
          description: default response
      summary: 判断用户是否存在
      tags:
      - 02.UserPublicApi
  /api/v1/public/quote/getTicketSummary:
    get:
      operationId: getTicketSummary
      parameters:
      - description: 汇总周期
        explode: true
        in: query
        name: period
        required: false
        schema:
          description: 汇总周期
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetTickerSummaryModel_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 获取行情汇总
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getTicker:
    get:
      operationId: getTicker
      parameters:
      - description: 合约id
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: 合约id
          format: int64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Ticker__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 查询24小时行情
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getStatDayTrade:
    get:
      operationId: getStatDayTrade
      parameters:
      - description: 过滤获取指定开始时间的交易统计信息
        explode: true
        in: query
        name: startDayTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间的交易统计信息
          format: int64
          type: string
        style: form
      - description: ' 过滤获取指定结束时间的日交易统计信息'
        explode: true
        in: query
        name: endDayTimeExclusive
        required: false
        schema:
          description: ' 过滤获取指定结束时间的日交易统计信息'
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_StatDayTrade__'
          description: default response
      summary: 获取日交易统计
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getMultiContractKline:
    get:
      operationId: getMultiContractKline
      parameters:
      - description: 合约id集合
        explode: true
        in: query
        name: contractIdList
        required: false
        schema:
          description: 合约id集合
          format: int64
          type: string
        style: form
      - description: 价格类型
        explode: true
        in: query
        name: priceType
        required: false
        schema:
          description: 价格类型
          type: string
        style: form
      - description: K线类型
        explode: true
        in: query
        name: klineType
        required: false
        schema:
          description: K线类型
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于200
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于200
          type: string
        style: form
      - description: 查询开始时间（如果为0表示从当前时间）按照时间倒序向前查询返回
        explode: true
        in: query
        name: filterBeginKlineTimeInclusive
        required: false
        schema:
          description: 查询开始时间（如果为0表示从当前时间）按照时间倒序向前查询返回
          format: int64
          type: string
        style: form
      - description: 查询结束时间
        explode: true
        in: query
        name: filterEndKlineTimeExclusive
        required: false
        schema:
          description: 查询结束时间
          format: int64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_ContractKline__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 查询多合约定量K线
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getKline:
    get:
      operationId: getKline
      parameters:
      - description: 合约id
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: 合约id
          format: int64
          type: string
        style: form
      - description: 价格类型
        explode: true
        in: query
        name: priceType
        required: false
        schema:
          description: 价格类型
          type: string
        style: form
      - description: K线类型
        explode: true
        in: query
        name: klineType
        required: false
        schema:
          description: K线类型
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于1000
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于1000
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 查询开始时间（如果为0表示从当前时间）按照时间倒序向前查询返回
        explode: true
        in: query
        name: filterBeginKlineTimeInclusive
        required: false
        schema:
          description: 查询开始时间（如果为0表示从当前时间）按照时间倒序向前查询返回
          format: int64
          type: string
        style: form
      - description: 查询结束时间
        explode: true
        in: query
        name: filterEndKlineTimeExclusive
        required: false
        schema:
          description: 查询结束时间
          format: int64
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Kline__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 查询K线
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getExchangeLongShortRatio:
    get:
      operationId: getExchangeLongShortRatio
      parameters:
      - description: 如果为空的话，默认返回 range 最小的数据
        explode: true
        in: query
        name: range
        required: false
        schema:
          description: 如果为空的话，默认返回 range 最小的数据
          type: string
        style: form
      - description: 如果为空的话，默认返回所有合约数据
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: 如果为空的话，默认返回所有合约数据
          type: string
        style: form
      - description: 如果为空的话，默认返回所有交易所数据
        explode: true
        in: query
        name: filterExchangeList
        required: false
        schema:
          description: 如果为空的话，默认返回所有交易所数据
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetTickerSummaryModel_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 获取日交易统计
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getDepth:
    get:
      operationId: getDepth
      parameters:
      - description: 合约id
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: 合约id
          format: int64
          type: string
        style: form
      - description: 深度档位 目前有15档和200档
        explode: true
        in: query
        name: level
        required: false
        schema:
          description: 深度档位 目前有15档和200档
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Depth__'
          description: default response
      summary: 查询盘口深度
      tags:
      - 01.QuotePublicApi
  /api/v1/public/quote/getAccurateOpenInterest:
    get:
      operationId: getAccurateOpenInterest
      parameters:
      - description: 合约id集合
        explode: true
        in: query
        name: contractIdList
        required: false
        schema:
          description: 合约id集合
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_OpenInterest__'
          description: default response
      summary: 获取精确OpenInterest
      tags:
      - 01.QuotePublicApi
  /api/v1/public/meta/getServerTime:
    get:
      operationId: getServerTime
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetServerTime_'
          description: default response
      summary: 获取服务器时间
      tags:
      - 00.MetaDataPublicApi
  /api/v1/public/meta/getMetaData:
    get:
      operationId: getMetaData
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MetaData_'
          description: default response
      summary: 获取元信息数据
      tags:
      - 00.MetaDataPublicApi
  /api/v1/public/index/getIndexPriceConfig:
    get:
      operationId: getIndexPriceConfig
      parameters:
      - description: 指定的合约id
        explode: true
        in: query
        name: contractIdList
        required: false
        schema:
          description: 指定的合约id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_IndexPriceConfig__'
          description: default response
      summary: 根据合约id查询指数价格配置
      tags:
      - 01.IndexPublicApi
  /api/v1/public/funding/getLatestFundingRate:
    get:
      operationId: getLatestFundingRate
      parameters:
      - description: 合约id
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: 合约id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_FundingRate__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 根据合约id查询最新资金费率
      tags:
      - 01.FundingPublicApi
  /api/v1/public/funding/getFundingRatePage:
    get:
      operationId: getFundingRatePage
      parameters:
      - description: 合约id
        explode: true
        in: query
        name: contractId
        required: false
        schema:
          description: 合约id
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: "true则只查询结算资金费率(每8小时资金费率结算一次,每分钟计算一个预测资金费率)"
        explode: true
        in: query
        name: filterSettlementFundingRate
        required: false
        schema:
          description: "true则只查询结算资金费率(每8小时资金费率结算一次,每分钟计算一个预测资金费率)"
          type: string
        style: form
      - description: "开始时间, 不填代表获取最老的数据"
        explode: true
        in: query
        name: filterBeginTimeInclusive
        required: false
        schema:
          description: "开始时间, 不填代表获取最老的数据"
          type: string
        style: form
      - description: 结束时间，不填代表获取最新的数据
        explode: true
        in: query
        name: filterEndTimeExclusive
        required: false
        schema:
          description: 结束时间，不填代表获取最新的数据
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FundingRate__'
          description: default response
      summary: 根据合约id分页查询资金费率历史
      tags:
      - 01.FundingPublicApi
  /api/v1/public/cmc/getOrderBook:
    get:
      operationId: getOrderBook
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FundingRate__'
          description: default response
      summary: Endpoint B3 (Order book)
      tags:
      - CMCPublicApi
  /api/v1/public/cmc/getContracts:
    get:
      operationId: getContracts
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FundingRate__'
          description: default response
      summary: Endpoint B1 (Contracts)
      tags:
      - CMCPublicApi
  /api/v1/public/cmc/getContractSpecifications:
    get:
      operationId: getContractSpecifications
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FundingRate__'
          description: default response
      summary: Endpoint B2  (Contract specifications)
      tags:
      - CMCPublicApi
  /api/v1/public/app/checkAppUpdate:
    get:
      operationId: getAppUpdate
      parameters:
      - description: 客户端类型. 例如 Android / iOS
        explode: true
        in: query
        name: platform
        required: false
        schema:
          description: 客户端类型. 例如 Android / iOS
          type: string
        style: form
      - description: 客户端请求语言. 例如 zh-CN / en-US
        explode: true
        in: query
        name: language
        required: false
        schema:
          description: 客户端请求语言. 例如 zh-CN / en-US
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AppUpdate_'
          description: default response
      summary: 获取APP升级信息
      tags:
      - 00.AppPublicApi
  /api/v1/public/1inch/getQuota:
    get:
      operationId: getQuota
      parameters:
      - description: 链id
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: 链id
          type: string
        style: form
      - description: 输入代币合约地址
        explode: true
        in: query
        name: src
        required: false
        schema:
          description: 输入代币合约地址
          type: string
        style: form
      - description: 目标代币合约地址
        explode: true
        in: query
        name: dst
        required: false
        schema:
          description: 目标代币合约地址
          type: string
        style: form
      - description: 输入金额，带精度
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: 输入金额，带精度
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Get1inchQuote_'
          description: default response
      summary: 获取币对兑换汇率
      tags:
      - 01.1inchPublicController
  /api/v1/public/1inch/getAggregateExchangeData:
    get:
      operationId: getAggregateExchangeData
      parameters:
      - description: 链id
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: 链id
          type: string
        style: form
      - description: 输入代币合约地址
        explode: true
        in: query
        name: src
        required: false
        schema:
          description: 输入代币合约地址
          type: string
        style: form
      - description: 目标代币合约地址
        explode: true
        in: query
        name: dst
        required: false
        schema:
          description: 目标代币合约地址
          type: string
        style: form
      - description: 输入金额，带精度
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: 输入金额，带精度
          type: string
        style: form
      - description: 滑点
        explode: true
        in: query
        name: slippage
        required: false
        schema:
          description: 滑点
          type: string
        style: form
      - description: 资金池合约地址
        explode: true
        in: query
        name: from
        required: false
        schema:
          description: 资金池合约地址
          type: string
        style: form
      - description: 资金池合约地址
        explode: true
        in: query
        name: receiver
        required: false
        schema:
          description: 资金池合约地址
          type: string
        style: form
      - description: 是否关闭链上模拟执行
        explode: true
        in: query
        name: disableEstimate
        required: false
        schema:
          description: 是否关闭链上模拟执行
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetAggregateExchangeData_'
          description: default response
      summary: 获取币对兑换汇率
      tags:
      - 01.1inchPublicController
  /api/v1/private/withdraw/getWithdrawById:
    get:
      operationId: getWithdrawById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 提现单id
        explode: true
        in: query
        name: withdrawIdList
        required: false
        schema:
          description: 提现单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Withdraw__'
          description: default response
      summary: 根据充值单id批量获取提现单
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/withdraw/getWithdrawByClientWithdrawId:
    get:
      operationId: getWithdrawByClientWithdrawId
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 提现单id
        explode: true
        in: query
        name: clientWithdrawIdList
        required: false
        schema:
          description: 提现单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Withdraw__'
          description: default response
      summary: 根据充值单id批量获取提现单
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/withdraw/getWithdrawAvailableAmount:
    get:
      operationId: getWithdrawAvailableAmount
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 币id
        explode: true
        in: query
        name: coinId
        required: false
        schema:
          description: 币id
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetWithdrawAvailableAmount_'
          description: default response
      summary: 翻页获取提现单
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/withdraw/getActiveWithdraw:
    get:
      operationId: getActiveWithdraw
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 过滤获取对应抵押品coinId对应的提现单，如果为空则获取所有抵押品coinId的提现单
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 过滤获取对应抵押品coinId对应的提现单，如果为空则获取所有抵押品coinId的提现单
          type: string
        style: form
      - description: 过滤获取指定状态的提现单，不填的话所有状态提现单
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: 过滤获取指定状态的提现单，不填的话所有状态提现单
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的提现单 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的提现单 (包含)，不填或者为0的话就从最早开始
          type: string
        style: form
      - description: 过滤获取指定结束时间创建的提现单 (不包含)，不填或者为0的话就到最近
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: 过滤获取指定结束时间创建的提现单 (不包含)，不填或者为0的话就到最近
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Withdraw__'
          description: default response
      summary: 翻页获取提现单
      tags:
      - 06.WithdrawPrivateApi
  /api/v1/private/user/getUser:
    get:
      operationId: getUserById
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_User_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 根据id获取用户信息
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/getUserPreference:
    get:
      operationId: getUserPreference
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_UserPreference_'
          description: default response
      summary: 根据id获取用户设置
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/getUserInfo:
    get:
      operationId: getUserInfo
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_UserInfo_'
          description: default response
      summary: 根据id获取用户信息和用户设置设置
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/getSiteMessagePage:
    get:
      operationId: getSiteMessagePage
      parameters:
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 站内信类型(小类)，先忽略，有用的时候再说
        explode: true
        in: query
        name: filterBusinessTypeList
        required: false
        schema:
          description: 站内信类型(小类)，先忽略，有用的时候再说
          type: string
        style: form
      - description: 站内信类型(大类)，不填查询全部
        explode: true
        in: query
        name: filterNotifyCategoryList
        required: false
        schema:
          description: 站内信类型(大类)，不填查询全部
          type: string
        style: form
      - description: "true:获取未读列表,其他 获取全部"
        explode: true
        in: query
        name: unread
        required: false
        schema:
          description: "true:获取未读列表,其他 获取全部"
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_SiteMessage__'
          description: default response
      summary: 分页获取站内信
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/getFaucetCoinClaimPage:
    get:
      operationId: getFaucetCoinClaimPage
      parameters:
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_FaucetCoinClaim__'
          description: default response
      summary: 分页获取水龙头领取记录
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/claimFaucetCoin:
    get:
      operationId: claimFaucetCoin
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ClaimFaucetCoin_'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 领取水龙头体验代币
      tags:
      - 08.UserPrivateApi
  /api/v1/private/user/checkUserNicknameExist:
    get:
      operationId: checkUserNicknameExist
      parameters:
      - description: 昵称
        explode: true
        in: query
        name: nickname
        required: true
        schema:
          description: 昵称
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CheckUserNicknameExist_'
          description: default response
      summary: 检查用户昵称是否存在
      tags:
      - 08.UserPrivateApi
  /api/v1/private/transfer/getTransferOutById:
    get:
      operationId: getTransferOutById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 转出单id
        explode: true
        in: query
        name: transferOutIdList
        required: false
        schema:
          description: 转出单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_TransferOut__'
          description: default response
      summary: 根据充值单id批量获取转出单
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/transfer/getTransferOutAvailableAmount:
    get:
      operationId: getWithdrawAvailableAmount_1
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 币id
        explode: true
        in: query
        name: coinId
        required: false
        schema:
          description: 币id
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetTransferOutAvailableAmount_'
          description: default response
      summary: 翻页获取提现单
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/transfer/getTransferInById:
    get:
      operationId: getTransferInById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 转入单id
        explode: true
        in: query
        name: transferInIdList
        required: false
        schema:
          description: 转入单id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_TransferIn__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 根据充值单id批量获取转入单
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/transfer/getActiveTransferOut:
    get:
      operationId: getActiveTransferOut
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 过滤获取对应抵押品coinId对应的转入单，如果为空则获取所有抵押品coinId的转入单
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 过滤获取对应抵押品coinId对应的转入单，如果为空则获取所有抵押品coinId的转入单
          type: string
        style: form
      - description: 过滤获取指定状态的转入单，不填的话所有状态转入单
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: 过滤获取指定状态的转入单，不填的话所有状态转入单
          type: string
        style: form
      - description: 过滤获取指定转账原因的转入单，不填的话所有转账原因转入单
        explode: true
        in: query
        name: filterTransferReasonList
        required: false
        schema:
          description: 过滤获取指定转账原因的转入单，不填的话所有转账原因转入单
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的转入单 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的转入单 (包含)，不填或者为0的话就从最早开始
          type: string
        style: form
      - description: 过滤获取指定结束时间创建的转入单 (不包含)，不填或者为0的话就到最近
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: 过滤获取指定结束时间创建的转入单 (不包含)，不填或者为0的话就到最近
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_TransferOut__'
          description: default response
      summary: 翻页获取转出单
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/transfer/getActiveTransferIn:
    get:
      operationId: getActiveTransferIn
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 过滤获取对应抵押品coinId对应的转出单，如果为空则获取所有抵押品coinId的转入单
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 过滤获取对应抵押品coinId对应的转出单，如果为空则获取所有抵押品coinId的转入单
          type: string
        style: form
      - description: 过滤获取指定状态的转入单，不填的话所有状态转出单
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: 过滤获取指定状态的转入单，不填的话所有状态转出单
          type: string
        style: form
      - description: 过滤获取指定转账原因的转入单，不填的话所有转账原因转出单
        explode: true
        in: query
        name: filterTransferReasonList
        required: false
        schema:
          description: 过滤获取指定转账原因的转入单，不填的话所有转账原因转出单
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的转出单 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的转出单 (包含)，不填或者为0的话就从最早开始
          type: string
        style: form
      - description: 过滤获取指定结束时间创建的转出单 (不包含)，不填或者为0的话就到最近
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: 过滤获取指定结束时间创建的转出单 (不包含)，不填或者为0的话就到最近
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_TransferIn__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 翻页获取转入单
      tags:
      - 07.TransferPrivateApi
  /api/v1/private/order/getOrderById:
    get:
      operationId: getOrderById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 委托单id
        explode: true
        in: query
        name: orderIdList
        required: false
        schema:
          description: 委托单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Order__'
          description: default response
      summary: 根据账户id和委托单id批量获取委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getOrderByClientOrderId:
    get:
      operationId: getOrderByClientOrderId
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 客户端自定义委托单id
        explode: true
        in: query
        name: clientOrderIdList
        required: false
        schema:
          description: 客户端自定义委托单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Order__'
          description: default response
      summary: 根据客户id批量获取委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderPage:
    get:
      operationId: getHistoryOrderPage
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 过滤获取对应抵押品coinId对应的委托单，如果为空则获取所有抵押品coinId的委托单
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 过滤获取对应抵押品coinId对应的委托单，如果为空则获取所有抵押品coinId的委托单
          type: string
        style: form
      - description: 过滤获取指定合约的委托单；如果为空的话获取所有合约委托单
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: 过滤获取指定合约的委托单；如果为空的话获取所有合约委托单
          type: string
        style: form
      - description: 过滤获取指定类型的委托单，不填的话所有类型委托单
        explode: true
        in: query
        name: filterTypeList
        required: false
        schema:
          description: 过滤获取指定类型的委托单，不填的话所有类型委托单
          type: string
        style: form
      - description: 过滤获取指定状态的委托单，不填的话所有状态委托单
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: 过滤获取指定状态的委托单，不填的话所有状态委托单
          type: string
        style: form
      - description: 过滤获取指定是否为清算的委托单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsLiquidateList
        required: false
        schema:
          description: 过滤获取指定是否为清算的委托单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定是否为减仓的委托单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsDeleverageList
        required: false
        schema:
          description: 过滤获取指定是否为减仓的委托单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定是否为仓位止盈止损单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsPositionTpslList
        required: false
        schema:
          description: 过滤获取指定是否为仓位止盈止损单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的委托单 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的委托单 (包含)，不填或者为0的话就从最早开始
          format: int64
          type: string
        style: form
      - description: ' 过滤获取指定结束时间创建的委托单 (不包含)，不填或者为0的话就到最近'
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: ' 过滤获取指定结束时间创建的委托单 (不包含)，不填或者为0的话就到最近'
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Order__'
          description: default response
      summary: 根据账户id翻页获取委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderFillTransactionPage:
    get:
      operationId: getHistoryOrderFillTransactionPage
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 过滤获取对应抵押品coinId对应的成交明细，如果为空则获取所有抵押品coinId的成交明细
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 过滤获取对应抵押品coinId对应的成交明细，如果为空则获取所有抵押品coinId的成交明细
          type: string
        style: form
      - description: 过滤获取指定合约的委托成交明细；如果为空的话获取所有合约委托成交明细
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: 过滤获取指定合约的委托成交明细；如果为空的话获取所有合约委托成交明细
          type: string
        style: form
      - description: 过滤获取指定委托单的成交明细；如果为空的话获取所有委托单的委托成交明细
        explode: true
        in: query
        name: filterOrderIdList
        required: false
        schema:
          description: 过滤获取指定委托单的成交明细；如果为空的话获取所有委托单的委托成交明细
          type: string
        style: form
      - description: 过滤获取指定是否为清算的委托单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsLiquidateList
        required: false
        schema:
          description: 过滤获取指定是否为清算的委托单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定是否为减仓的委托单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsDeleverageList
        required: false
        schema:
          description: 过滤获取指定是否为减仓的委托单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定是否为仓位止盈止损单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsPositionTpslList
        required: false
        schema:
          description: 过滤获取指定是否为仓位止盈止损单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的委托单 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的委托单 (包含)，不填或者为0的话就从最早开始
          format: int64
          type: string
        style: form
      - description: ' 过滤获取指定结束时间创建的委托单 (不包含)，不填或者为0的话就到最近'
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: ' 过滤获取指定结束时间创建的委托单 (不包含)，不填或者为0的话就到最近'
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_OrderFillTransaction__'
          description: default response
      summary: 根据账户id和委托单ids批量获取成交单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderFillTransactionById:
    get:
      operationId: getHistoryOrderFillTransactionById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 委托成交明细id
        explode: true
        in: query
        name: orderFillTransactionIdList
        required: false
        schema:
          description: 委托成交明细id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_OrderFillTransaction__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 根据账户id和委托成交明细id批量获取委托成交明细
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderById:
    get:
      operationId: getHistoryOrderById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 委托单id
        explode: true
        in: query
        name: orderIdList
        required: false
        schema:
          description: 委托单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Order__'
          description: default response
      summary: 根据账户id和委托单id批量获取委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getHistoryOrderByClientOrderId:
    get:
      operationId: getHistoryOrderByClientOrderId
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 委托单 client order id
        explode: true
        in: query
        name: clientOrderIdList
        required: false
        schema:
          description: 委托单 client order id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Order__'
          description: default response
      summary: 根据账户id和委托单id批量获取委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/order/getActiveOrderPage:
    get:
      operationId: getActiveOrderPage
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于200
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于200
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 过滤获取对应抵押品coinId对应的活动委托单，如果为空则获取所有抵押品coinId的活动委托单
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 过滤获取对应抵押品coinId对应的活动委托单，如果为空则获取所有抵押品coinId的活动委托单
          type: string
        style: form
      - description: 过滤获取对应合约的活动委托单，如果为空则获取所有合约的活动委托单
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: 过滤获取对应合约的活动委托单，如果为空则获取所有合约的活动委托单
          type: string
        style: form
      - description: 过滤获取指定类型的委托单，不填的话所有类型委托单
        explode: true
        in: query
        name: filterTypeList
        required: false
        schema:
          description: 过滤获取指定类型的委托单，不填的话所有类型委托单
          type: string
        style: form
      - description: 过滤获取指定状态的委托单，不填的话所有状态委托单
        explode: true
        in: query
        name: filterStatusList
        required: false
        schema:
          description: 过滤获取指定状态的委托单，不填的话所有状态委托单
          type: string
        style: form
      - description: 过滤获取指定是否为清算的委托单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsLiquidateList
        required: false
        schema:
          description: 过滤获取指定是否为清算的委托单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定是否为减仓的委托单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsDeleverageList
        required: false
        schema:
          description: 过滤获取指定是否为减仓的委托单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定是否为仓位止盈止损单，不填的话所有委托单
        explode: true
        in: query
        name: filterIsPositionTpslList
        required: false
        schema:
          description: 过滤获取指定是否为仓位止盈止损单，不填的话所有委托单
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的委托单 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的委托单 (包含)，不填或者为0的话就从最早开始
          type: string
        style: form
      - description: 过滤获取指定结束时间创建的委托单 (不包含)，不填或者为0的话就到最近
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: 过滤获取指定结束时间创建的委托单 (不包含)，不填或者为0的话就到最近
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Order__'
          description: default response
      summary: 分页获取账户下活动的委托单
      tags:
      - 04.OrderPrivateApi
  /api/v1/private/deposit/getDepositById:
    get:
      operationId: getDepositById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 充值单id
        explode: true
        in: query
        name: depositIdList
        required: false
        schema:
          description: 充值单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Deposit__'
          description: default response
      summary: 根据充值单id批量获取充值单
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/deposit/getDepositByClientDepositId:
    get:
      operationId: getDepositByClientDepositId
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 客户自定义id
        explode: true
        in: query
        name: clientDepositIdList
        required: false
        schema:
          description: 客户自定义id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Deposit__'
          description: default response
      summary: 根据账户id和充值单clientId批量获取充值单
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/deposit/getActiveDeposit:
    get:
      operationId: getActiveDeposit
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_Deposit__'
          description: default response
      summary: 翻页获取充值单
      tags:
      - 05.DepositPrivateApi
  /api/v1/private/assets/getNormalWithdrawableAmount:
    get:
      operationId: getNormalWithdrawableAmount
      parameters:
      - description: 用户地址
        explode: true
        in: query
        name: address
        required: true
        schema:
          description: 用户地址
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetNormalWithdrawableAmount_'
          description: default response
      summary: 查询用户普通提现可提金额
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getNormalWithdrawById:
    get:
      operationId: getNormalWithdrawById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 提现单id
        explode: true
        in: query
        name: normalWithdrawIdList
        required: false
        schema:
          description: 提现单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_NormalWithdraw__'
          description: default response
      summary: 根据账户id和提现单id批量获取普通提现单
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getFastWithdrawSignInfo:
    get:
      operationId: getFastWithdrawSignInfo
      parameters:
      - description: 哪条链
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: 哪条链
          type: string
        style: form
      - description: 提现金额
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: 提现金额
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetFastWithdrawSignInfo_'
          description: default response
      summary: 查询快速提现签名需要的信息
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getFastWithdrawById:
    get:
      operationId: getFastWithdrawById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 提现单id
        explode: true
        in: query
        name: fastWithdrawIdList
        required: false
        schema:
          description: 提现单id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_FastWithdraw__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 根据账户id和提现单id批量获取快速提现单
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getCrossWithdrawSignInfo:
    get:
      operationId: getCrossWithdrawSignInfo
      parameters:
      - description: 链id
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: 链id
          type: string
        style: form
      - description: 提现金额
        explode: true
        in: query
        name: amount
        required: false
        schema:
          description: 提现金额
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetCrossWithdrawSignInfo_'
          description: default response
      summary: 查询跨链提现签名需要的信息
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getCrossWithdrawById:
    get:
      operationId: getCrossWithdrawById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 提现单id
        explode: true
        in: query
        name: crossWithdrawIdList
        required: false
        schema:
          description: 提现单id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_CrossWithdraw__'
          description: default response
      summary: 根据账户id和提现单id批量获取跨链提现单
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getCoinRate:
    get:
      operationId: getCoinRate
      parameters:
      - description: 链id
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: 链id
          format: int64
          type: string
        style: form
      - description: 币种
        explode: true
        in: query
        name: coin
        required: false
        schema:
          description: 币种
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_GetCoinRate_'
          description: default response
      summary: 聚合查询所有充提币订单记录
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/assets/getAllOrdersPage:
    get:
      operationId: getAllOrdersPage
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          type: string
        style: form
      - description: 起始时间，unix time单位为秒
        explode: true
        in: query
        name: startTime
        required: false
        schema:
          description: 起始时间，unix time单位为秒
          format: int64
          type: string
        style: form
      - description: 结束时间，unix time单位为秒
        explode: true
        in: query
        name: endTime
        required: false
        schema:
          description: 结束时间，unix time单位为秒
          format: int64
          type: string
        style: form
      - description: 链id
        explode: true
        in: query
        name: chainId
        required: false
        schema:
          description: 链id
          type: string
        style: form
      - description: 订单类型
        explode: true
        in: query
        name: typeList
        required: false
        schema:
          description: 订单类型
          type: string
        style: form
      - description: 每页的数量。必须大于0且小于等于100。
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 每页的数量。必须大于0且小于等于100。
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_AssetOrder__'
          description: default response
      summary: 聚合查询所有充提币订单记录
      tags:
      - 09.AssetsPrivateApi
  /api/v1/private/account/getPositionTransactionPage:
    get:
      operationId: getPositionTransactionPage
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 获取指定币种的仓位流水，如果不填则获取所有抵押品流水
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 获取指定币种的仓位流水，如果不填则获取所有抵押品流水
          type: string
        style: form
      - description: 获取指定合约的仓位流水，如果不填则获取所有仓位流水
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: 获取指定合约的仓位流水，如果不填则获取所有仓位流水
          type: string
        style: form
      - description: 获取指定持仓变动明细类型的仓位流水，如果不填则获取所有仓位流水
        explode: true
        in: query
        name: filterTypeList
        required: false
        schema:
          description: 获取指定持仓变动明细类型的仓位流水，如果不填则获取所有仓位流水
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的仓位流水 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的仓位流水 (包含)，不填或者为0的话就从最早开始
          format: int64
          type: string
        style: form
      - description: 过滤获取指定结束时间创建的仓位流水 (不包含)，不填或者为0的话就到最近
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: 过滤获取指定结束时间创建的仓位流水 (不包含)，不填或者为0的话就到最近
          format: int64
          type: string
        style: form
      - description: 是否仅返回包含平仓的仓位流水。true：只返回有平仓的流水，false：返回所有流水
        explode: true
        in: query
        name: filterCloseOnly
        required: false
        schema:
          description: 是否仅返回包含平仓的仓位流水。true：只返回有平仓的流水，false：返回所有流水
          type: string
        style: form
      - description: 是否仅返回包含开仓的仓位流水。true：只返回有开仓的流水，false：返回所有流水
        explode: true
        in: query
        name: filterOpenOnly
        required: false
        schema:
          description: 是否仅返回包含开仓的仓位流水。true：只返回有开仓的流水，false：返回所有流水
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_PositionTransaction__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 翻页获取仓位流水
      tags:
      - 03.AccountPrivateApi
  /api/v1/private/account/getPositionTransactionById:
    get:
      operationId: getPositionTransactionById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 仓位流水id
        explode: true
        in: query
        name: positionTransactionIdList
        required: false
        schema:
          description: 仓位流水id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_PositionTransaction__'
          description: default response
      summary: 根据账户id和仓位流水id批量获取仓位流水
      tags:
      - 03.AccountPrivateApi
  /api/v1/private/account/getPositionTermPage:
    get:
      operationId: getPositionTermPage
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 获取指定币种的仓位term信息，如果不填则获取所有仓位term信息
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 获取指定币种的仓位term信息，如果不填则获取所有仓位term信息
          type: string
        style: form
      - description: 获取指定合约的仓位term信息，如果不填则获取所有仓位term信息
        explode: true
        in: query
        name: filterContractIdList
        required: false
        schema:
          description: 获取指定合约的仓位term信息，如果不填则获取所有仓位term信息
          type: string
        style: form
      - description: 获取制定方向的仓位term信息，如果不填则获取所有仓位term信息
        explode: true
        in: query
        name: filterIsLongPosition
        required: false
        schema:
          description: 获取制定方向的仓位term信息，如果不填则获取所有仓位term信息
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的抵押品流水 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的抵押品流水 (包含)，不填或者为0的话就从最早开始
          format: int64
          type: string
        style: form
      - description: 过滤获取指定结束时间创建的抵押品流水 (不包含)，不填或者为0的话就到最近
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: 过滤获取指定结束时间创建的抵押品流水 (不包含)，不填或者为0的话就到最近
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_PositionTerm__'
          description: default response
      summary: 根据账号id翻页获取持仓term信息
      tags:
      - 03.AccountPrivateApi
  /api/v1/private/account/getPositionByContractId:
    get:
      operationId: getCollateralByCoinId
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 指定的合约id
        explode: true
        in: query
        name: contractIdList
        required: false
        schema:
          description: 指定的合约id
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_Position__'
          description: default response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
      summary: 根据账号id和合约id批量获取仓位
      tags:
      - 03.AccountPrivateApi
  /api/v1/private/account/getCollateralTransactionPage:
    get:
      operationId: getCollateralTransactionPage
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取数量。必须大于0且小于等于100
        explode: true
        in: query
        name: size
        required: false
        schema:
          description: 获取数量。必须大于0且小于等于100
          type: string
        style: form
      - description: 翻页获取偏移。如果不填或者为空串，则获取第一页
        explode: true
        in: query
        name: offsetData
        required: false
        schema:
          description: 翻页获取偏移。如果不填或者为空串，则获取第一页
          type: string
        style: form
      - description: 获取指定币种的抵押品流水，如果不填则获取所有抵押品流水
        explode: true
        in: query
        name: filterCoinIdList
        required: false
        schema:
          description: 获取指定币种的抵押品流水，如果不填则获取所有抵押品流水
          type: string
        style: form
      - description: 获取指定抵押品变动明细类型的流水，如果不填则获取所有抵押品流水
        explode: true
        in: query
        name: filterTypeList
        required: false
        schema:
          description: 获取指定抵押品变动明细类型的流水，如果不填则获取所有抵押品流水
          type: string
        style: form
      - description: 过滤获取指定开始时间创建的抵押品流水 (包含)，不填或者为0的话就从最早开始
        explode: true
        in: query
        name: filterStartCreatedTimeInclusive
        required: false
        schema:
          description: 过滤获取指定开始时间创建的抵押品流水 (包含)，不填或者为0的话就从最早开始
          format: int64
          type: string
        style: form
      - description: 过滤获取指定结束时间创建的抵押品流水 (不包含)，不填或者为0的话就到最近
        explode: true
        in: query
        name: filterEndCreatedTimeExclusive
        required: false
        schema:
          description: 过滤获取指定结束时间创建的抵押品流水 (不包含)，不填或者为0的话就到最近
          format: int64
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_PageData_CollateralTransaction__'
          description: default response
      summary: 根据账户id翻页获取抵押品明细
      tags:
      - 03.AccountPrivateApi
  /api/v1/private/account/getCollateralTransactionById:
    get:
      operationId: getCollateralTransactionById
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 抵押品明细id
        explode: true
        in: query
        name: collateralTransactionIdList
        required: false
        schema:
          description: 抵押品明细id
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
          description: default response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_CollateralTransaction__'
          description: default response
      summary: 根据账户id和抵押品明细id批量获取成抵押品明细
      tags:
      - 03.AccountPrivateApi
  /api/v1/private/account/getCollateralByCoinId:
    get:
      operationId: getCollateralByCoinId_1
      parameters:
      - description: 账户id
        explode: true
        in: query
        name: accountId
        required: false
        schema:
          description: 账户id
          format: int64
          type: string
        style: form
      - description: 获取指定币种的抵押品信息，如果不填则获取所有抵押品信息
        explode: true
        in: query
        name: coinIdList
        required: false
        schema:
          description: 获取指定币种的抵押品信息，如果不填则获取所有抵押品信息
          type: string
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
[...]
